<div class="content" id="content">
    <div class="card card-registered">
        <h3>Registered</h3>
        <span>Batches 13</span>
    </div>
    <div class="card card-enrolled">
        <h3>161</h3>
        <span>Enrolled Candidates</span>
    </div>
    <div class="card card-freezing">
        <h3>3 Days</h3>
        <span>Freezing Period</span>
    </div>
</div>