@{
    ViewData["Title"] = "Dashboard ";
}

<div class="dashboard-content">
    <h1>Dashboard</h1>
    <div class="dashboard-cards">
        <div class="dashboard-card dashboard-card-registered">
            <div class="card-title">Batch Status</div>
            <div class="card-number">Registered</div>
            <div class="card-subtext">Batches 13</div>
        </div>
        <div class="dashboard-card dashboard-card-enrolled">
            <div class="card-title">Enrolled Candidates</div>
            <div class="card-number">161</div>
        </div>
        <div class="dashboard-card dashboard-card-freezing">
            <div class="card-title">Freezing Period</div>
            <div class="card-number">3 Days</div>
        </div>
    </div>
</div>
